.logo {
  float: left;
  width: 150px;
  color: #ffffff;
}

.logo > span:hover {
  background: #03a05e;
  padding: 10px;
  transition: 0.5s;
  border-radius: 5px;
  font-size: medium;
}

.header {
  height: unset;
}

.ant-menu-item-selected {
  height: 62px;
}
@media (max-width: 480px) {
  header {
    padding: 0 16px !important;
  }

  .avatar__name {
    display: none !important;
  }

  aside:not(.ant-layout-sider-zero-width) {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
}
